<body>
    <div class="footer">
        <p>© 2024, Express Corporation Pvt. Ltd. All Rights Reserved.</p>
        <ul>
            <li><img src="https://img.icons8.com/ios/50/twitterx--v2.png" alt=""></li>
            <li><img src="https://img.icons8.com/ios/50/facebook--v1.png" alt=""></li>
            <li><img src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt=""></li>
        </ul>
    </div>
</body>