<body>
    <div class="notice">
        <center>
            <span>
                <b> Welcome to Our Website!</b> <br><br>

                We are thrilled to have you here! Our platform is designed to provide you with the most seamless and
                enriching experience. Stay updated with the latest news, explore a variety of features, and discover
                content tailored to your interests.

                Your satisfaction is our priority, and we’re committed to continuously enhancing our services to meet
                your needs. Don’t forget to check out our special offers and events, exclusively crafted for our
                community.

                Feel free to explore, engage, and share your thoughts with us. Together, let’s make every visit
                memorable! <br>
                <b>Contact: express@gmail.com</b>
            </span>
        </center>
    </div>
</body>